
{% extends "base.html" %}

{% block subtitle %}{{ club.club_name_c }}{% endblock %}

{% block page_content %}
<h2>{{ club.club_name_c }}</h2>
<p>
    Division: 
    {% if club.division_n == 1 %}
        <strong>Red</strong>
    {% elif club.division_n == 2%}
        <strong>Blue</strong>
    {% endif %}
</p>
<p>
    <label>Account</label>: {{ account.money }}
</p>
<p>
{% for player in players %}
    <a href="{{ url_for('game.PlayerDetails', player_pk=player.pk) }}">    
    {{ player.first_name }} {{ player.second_name }} {{ player.last_name }}<br>
    </a>
{% endfor %}
</p>
{% include "includes/current_match_or_standings.html" %}
{% endblock %}
