{% extends "base.html" %}

{% block subtitle %}
    Season: {{ current_user.current_season_n }} Day: {{ current_user.current_day_n - 1 }}
{% endblock %}

{% block page_content %}
    <h2>Season {{ season }}, day {{ day }} results</h2>
    <table class="table">
    <tr>
        <th>#</th><th>Match</th><th>Players</th><th>score</th>
    </tr>
    {% for match in matches %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ match.home_team }} : {{ match.away_team }}</td>
            <td>
                {{ match.home_player }} [{{ match.home_skill }}] : {{ match.away_player }} [{{ match.away_skill }}]
            </td>
            <td><strong>{{ match.full_score }}</strong></td>
        </tr>
    {% else %}
        <p>
            No Matches available.
        </p>
    {% endfor %}
    </table>
{% include "includes/current_match_or_standings.html" %}
{% endblock %}
