{% extends "base.html" %}

{% block subtitle %}
    Season: {{ current_user.current_season_n }} Day: {{ current_user.current_day_n - 1 }}
{% endblock %}

{% block content %}
    <h2>Season {{ season }}, day {{ day }} results</h2>
    <table class="table">
    <tr>
        <th>#</th><th>Match</th><th>score</th>
    </tr>
    {% for match in matches %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ match.home_club.club_name_c }} : {{ match.away_club.club_name_c }}</td>
            <td>{{ match.home_sets_n }} : {{ match.away_sets_n }}</td>
        </tr>
    {% else %}
        <p>
            No Matches available.
        </p>
    {% endfor %}
    </table>
    <p>
        <a href="{{url_for('game.MainScreen')}}">Go to upcoming match.</a>
    </p>
{% endblock %}
