
{% extends "base.html" %}

{% block subtitle %}
Free Agents Market
{% endblock %}

{% block page_content %}
<h3>Free Agents</h3>
{% include "includes/current_match_or_standings.html" %}

{% if agents %}
<table class="table">
  <tr>
    <th>Name</th>
    <th>Technique</th>
    <th>Endurance</th>
    <th>Salary per match</th>
    <th>Hire</th>
  </tr>
  {% for player in agents %}
  <tr>
      <td>
        <a href="{{ url_for('game.PlayerDetails', player_pk=player.pk_n) }}">
        {{ player.first_name_c }} {{ player.second_name_c }} {{ player.last_name_c }}
        </a>
      </td>
      <td>{{ player.technique.absolute_maximum_n }}</td>
      <td>{{ player.endurance.absolute_maximum_n }}</td>
      <td>{{ player.match_salary }}</td>
      <td><a href="{{ url_for('game.HirePlayer', player_pk=player.pk_n) }}">Hire</a><td>
  </tr>
  {% endfor %}
</table>
{% else %}
No free agents available.
{% endif %}

{% endblock %}
