
{% extends "base.html" %}

{% block subtitle %}
    Season: {{ current_user.current_season_n }} Day: {{ current_user.current_day_n }}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h2>{{ club.club_name_c }}</h2>
    </div>
    <p>
        Ongoing season: <mark>{{ current_user.current_season_n }}</mark><br>
        Today is: <mark>{{ current_user.current_day_n }}|{{ current_user.season_last_day }}</mark>
    </p>
    {% if match %}
        <h4>Upcoming match is</h4>
        <h3>{{ match[0] }} versus {{ match[1] }}</h3>
        {% else %}
        <h3>No matches for today</h3>
    {% endif %}
    <p>
        <a href="{{ url_for('game.NextDay') }}">Next Day</a>
    </p>
    <p>
        <a href="{{ url_for('game.SelectPlayerScreen') }}">Select Player</a>
    </p>
    <p>
        <a href="{{ url_for('game.Standings', season=current_user.current_season_n) }}">Standings</a>
    </p>
    <p>
        <h3>Players</h3>
        {% for player in players %}
            {{ player.first_name_c }} {{ player.last_name_c }} [{{ player.skill_n }}]<br>
        {% endfor %}
    </p>
{% endblock %}
