
{% extends "base.html" %}

{% block subtitle %}
    Season: {{ current_user.current_season_n }} Day: {{ current_user.current_day_n }}
{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h2>{{ club.club_name_c }}</h2>
  </div>
  <p>
    Ongoing season: <mark>{{ current_user.current_season_n }}</mark><br>
    Today is: <mark>{{ current_user.current_day_n }}|{{ current_user.season_last_day }}</mark><br>
    {# Cash: <mark>{{ account.money }}</mark> #}
  </p>
  <div class="col-md-6">
      
  {% if match %}
    <h4>Upcoming match is</h4>
    <h3>{{ match.home_team }} versus {{ match.away_team }}</h3>
    {% if away_player %}
      <p>
        <label>Away Team Player:</label>
        <a href="{{ url_for('game.PlayerDetails', player_pk=away_player.pk_n)}}">
          {{ away_player.first_name_c[0] }}. {{ away_player.second_name_c[0] }}. {{ away_player.last_name_c }}
        </a>
      </p>
    {% endif %}
  {% else %}
    <h3>No matches for today</h3>
  {% endif %}
  <p>
    <a href="{{ url_for('game.NextDay') }}" class="btn btn-primary btn-block">Next Day</a>
  </p>
  {% if current_round %}
    <p>
      <a href="{{ url_for('game.Playoffs' ) }}" class="btn btn-default btn-block">
        PlayOffs
      </a>
    </p>
  {% endif %}
  <p>
    <a href="{{ url_for('game.Standings', season=current_user.current_season_n) }}" class="btn btn-default btn-block">Standings</a>
  </p>
  <p>
    <a href="{{ url_for('game.FreeAgents') }}" class="btn btn-default btn-block">Free Agents</a>
  </p>
  {# <p>
    <a href="{{ url_for('game.PlayRestOfSeason') }}" class="btn btn-warning btn-block">Play Rest of Season</a>
  </p> #}
  </div>
  <div class="col-md-6">
  
  <h3>Players</h3>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Technique</th>
      <th>Endurance</th>
      <th></th>
    </tr>
    {% for plr in players %}
    <tr {% if plr.pk_n ==selected_player_pk %}class="success" {% endif %}>
    <td>
    {{ loop.index }}
    </td>
    <td>
    <a href="{{ url_for('game.SelectPlayer', pk=plr.pk_n) }}">
      {{ plr.first_name_c }} {{ plr.last_name_c }}
    </_ca>
    </td>
    <td>
      <strong>{{ plr.actual_technique / 10 }}</strong> / {{ plr.technique }}
    </td>
    <td>
    {{ plr.endurance }}
    </td>
    <td>
      <a href="{{ url_for('game.PlayerDetails', player_pk=plr.pk_n) }}">Details</a>
    </td>
  </tr>
  {% endfor %}
  </table>
  </div>
{% endblock %}
