
{% extends "base.html" %}

{% block subtitle %}
Draft
{% endblock %}

{% block page_content %}
<table class="table">
<tr>
  <th>#</th>
  <th>Name</th>
  <th>Technique</th>
  <th>Endurance</th>
  <th>Age</th>
</tr>
{% for plr in players %}
<tr>
  <td>
    {{ loop.index }}
  </td>
  <td>
  <a href="{{ url_for('game.PickPlayer', player_pk=plr.pk_n) }}">
    {{ plr.first_name_c }} {{ plr.last_name_c }}
  </a>
  </td>
  <td>
    {{ plr.technique }}
  </td>
  <td>
    {{ plr.endurance }}
  </td>
  <td>
    {{ plr.age_n }}
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}