
{% extends "base.html" %}

{% block subtitle %}
Playoff Series #{{ series.pk }}
{% endblock %}

{% block page_content %}
<h3>Season <strong>#{{ series.season_n }}</strong></h3>
<h3>Playoff series of round {{ series.round_n}}</h3>
<table class="dd-table">
  <tr class="dd-clubs-row">
    <td class="dd-left">
      {{ series.top_seed.club_name_c }}
    </td>
    <td class="dd-right">
      {{ series.low_seed.club_name_c }}
    </td>
  </tr>

  <tr class="dd-series-score-row">
    <td class="dd-left">
      {{ series.GetTopSeedMatchesWon(2)}}
    </td>
    <td class="dd-right">
      {{ series.GetLowSeedMatchesWon(2) }}
    </td>
  </tr>

</table>
<br>
<table class="dd-table">
  {% for match in series.matches %}
    {% if match.status_en == 'finished' %}
    <tr class="dd-match-row">
      <td class="dd-left{% if match.home_sets_n > match.away_sets_n %} dd-match-winner{% endif%}">
        <span class="dd-club-name">{{ match.home_club.club_name_c }}</span><br>
        <span class="dd-player-name">
          {{ match.home_player.first_name_c }}
          {{ match.home_player.second_name_c }}
          {{ match.home_player.last_name_c }}
        </span>
      </td>
      <td class="dd-center dd-score-cell">
        {{ match.full_score_c }}
      </td>
      <td class="dd-right{%if match.away_sets_n > match.home_sets_n%} dd-match-winner{%endif%}">
        <span class="dd-club-name">{{ match.away_club.club_name_c }}</span><br>
        <span class="dd-player-name">
          {{ match.away_player.full_name }}
        </span>
      </td>
    </tr>
    {% endif %}
  {% endfor %}
</table>
{% include "includes/current_match_or_standings.html" %}
{% endblock %}