
{% extends "base.html" %}

{% block subtitle %}
    Season: {{ current_user.current_season_n }} Playoffs
{% endblock %}

{% block page_content %}

<h3>Season {{ season }}</h3>
{% for r in series_dict %}
<div class="col-md-4">
  {% for block in series_dict[r] %}
    <div class="lol">
    {% for series in block %}
      <table class="table table-bordered">
        <tr>
          <td>{{ series.top_seed.club_name_c }}</td>
          <td class="series-score">
            {{ series.top_seed_victories_n }}
          </td>
        </tr>
        <tr>
          <td>{{ series.low_seed.club_name_c }}</td>
          <td class="series-score">{{ series.low_seed_victories_n }}</td>
        </tr>
      </table>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endfor %}
    
{% endblock %}
