
{% extends "base.html" %}

{% block subtitle %}
{{ player.first_name[0]}}. {{ player.second_name[0]}}. {{ player.last_name }}
{% endblock %}

{% block page_content %}
<h2>{{ player.first_name }} {{ player.second_name }} {{ player.last_name }}</h2>
{% if player.club_pk %}
<p><label>Club</label>: <a href="{{ url_for('game.ClubDetails', club_pk=player.club_pk)}}">{{ club.club_name_c }}</a></p>
{% else %}
<p><a href="{{ url_for('game.HirePlayer', player_pk=player.pk) }}">Hire</a></p>
{% endif %}

{# TODO: change True to show #}
{% if True %}
<p><label>Skill</label>: {{ player.actual_skill }} | {{ player.skill }}</p>
<p><label>Endurance</label>: {{ player.endurance }}</p>
<p><label>Stamina</label>: {{ player.current_stamina }}</p>
<p><label>Age</label>: {{ player.age }}</p>
{% endif %}
<p><label>Salary per match</label>: {{ player.match_salary }}</p>
<p><label>Salary per day</label>: {{ player.passive_salary }}</p>

{% if matches %}    
<p>
    <label>Recent matches</label>
    <table class="table">    
    {% for match in matches %}
        <tr>
        <td>    
        {{ match.home_player }} vs. {{ match.away_player }}<td>
        <td>
        <mark>{{ match.full_score }}</mark>
        </td>
        <td>
        {{ match.home_team }} vs. {{ match.away_team }}
        </td>
        </tr>
    {% endfor %}
    </table>
</p>
{% else %}
    <strong>This player has not played any matches in current season yet.</strong>
{% endif %}

{% if show %}
<p>
    <a href="{{ url_for('game.FirePlayer', player_pk=player.pk) }}">Fire Player</a></p>
{% endif %}

{% include "includes/current_match_or_standings.html" %}
{% endblock %}