
{% extends "base.html" %}

{% block subtitle %}
{{ player.last_name_c }} {{ player.first_name_c[0]}}. {{ player.second_name_c[0]}}.
{% endblock %}

{% block page_content %}
<h2>{{ player.first_name_c }} {{ player.second_name_c }} {{ player.last_name_c }}</h2>
{% if player.club_pk %}
<p><label>Club</label>: <a href="{{ url_for('game.ClubDetails', club_pk=player.club_pk)}}">{{ club.club_name_c }}</a></p>
{% else %}
<p><a href="{{ url_for('game.HirePlayer', player_pk=player.pk_n) }}">Hire</a></p>
{% endif %}

{# TODO: change True to show #}
<div class="col-md-6">

<p>
  <label>Technique</label>: {{ player.actual_technique }} | {{ player.technique }}
</p>
<p>
  <label>Endurance</label>: {{ player.endurance }}<br>
</p>
<p>
  <label>Stamina</label>: {{ player.current_stamina_n }}
</p>
<p><label>Age</label>: {{ player.age_n }}</p>
<p><label>Level</label>: {{ player.level }}</p>
<p><label>Experience</label>: {{ player.experience_n }} / {{ player.next_level_exp }}</p>
</div>

  
<div class="col-md-12">
{% if matches %}    
<p>
  <label>Recent matches</label>
  <table class="table">
  {% for match in matches %}
    <tr>
    <td>
      {{ match.home_player }} vs. {{ match.away_player }}<td>
    <td>
    <mark>{{ match.full_score }}</mark>
    </td>
    <td>
      {{ match.home_team }} vs. {{ match.away_team }}
    </td>
    </tr>
  {% endfor %}
  </table>
</p>
{% else %}
  <strong>This player has not played any matches in current season yet.</strong>
{% endif %}

{% if show %}
<p>
  <a href="{{ url_for('game.FirePlayer', player_pk=player.pk_n) }}">Fire Player</a>
</p>
{% endif %}

{% include "includes/current_match_or_standings.html" %}
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{url_for('static', filename='magic.js')}}">
  </script>
{% endblock %}
