
{% extends "base.html" %}

{% block subtitle %}Title Screen{% endblock %}

{% block page_content %}
<div id="dd-title-screen-app">
<div class="page-header">
  <h2 v-text="hello"></h2>
</div>

<div class="col-md-6">
  <button
  class="btn btn-default btn-block btn-lg"
  v-bind:class="{'btn-primary': continue_career}"
  v-on:click="ContinueCareer">
    Continue Career
  </button>
  <button
  class="btn btn-default btn-block btn-lg"
  v-bind:class="{'btn-primary': new_career}"
  v-on:click="NewCareer"
  >
    New Career
  </button>
</div>

<div class="col-md-6">
  <div v-if=new_career>
    <button
    class="btn btn-default btn-block btn-lg"
    v-for="club in clubs"
    v-text="club.club_name"
    ></button>
  </div>
</div>

</div> <!-- App! -->

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script
    type="text/javascript"
    src="{{url_for('static', filename='title_screen.js') }}"
  ></script>
{% endblock %}
