/.idea
/backups
/dd
*.db
*_ui.py
*.pyc
*.sqlite
.project
.pydevproject
*.log
.env
.venv/
configuration/oauth_*
.mypy_cache/
.saves
*.csv
!data/clubs.csv
!data/players.csv
.logs/traceback*
dist/
main.spec
build/
*.spec
ignored/
AGENTS.md
