
/* TODO: order all elements in the alphabetical order. */

table.dd-table {
    width: 100%;
}

table.dd-table td {
    padding-left: 10px;
    padding-right: 10px;
}

table.dd-table .dd-center {
    text-align: center;
}

table.dd-table .dd-left {
    text-align: right;
}

table.dd-table .dd-right {
    text-align: left;
}

table.dd-table .dd-clubs-row {
    font-size: 190%;
    font-weight: bold;
}

table.dd-table .dd-series-score-row {
    font-size: 400%;
    font-weight: bold;
}

table.dd-table .dd-score-cell {
    font-size: 150%;
}

table.dd-table .dd-match-winner {
    font-style: italic;
    font-weight: bold;
}

table.dd-table .dd-match-row {
    border-color: #000000;
    border-style: solid none solid none;
    border-width: 1px;
    font-size: 120%;
}

table.dd-table .dd-club-name {
    font-size: 130%;
}

table.dd-table .dd-player-name {
    font-size: 90%;
}

.profile-thumbnail {
    margin-left: 30px;
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 310px;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px, 0px 0px 0px;
    border-top: 1px solid #E0E0E0;
}

ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #E0E0E0;
}

ul.posts li.post:hover {
    background-color: #F0F0F0;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight: bold;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

ul.dd-contacts {
    font-size: 150%;
    list-style-type: none;
}

ul.dd-contacts li {
    padding-bottom: 5px;
}

.series-score {
    width: 50px;
}

.lol {
    vertical-align: center;
}


.dd-tab-content {
    -webkit-animation: dd_fade_effect 1s;
    animation: dd_fade_effect 1s;
    display: none;
}

@-webkit-keyframes dd_fade_effect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes dd_fade_effect {
    from {opacity: 0;}
    to {opacity: 1;}
}
