
{% extends "base.html" %}

{% block subtitle %}Contacts{% endblock %}

{% block page_content %}

<div class="page-header">
  <h2>Contacts</h2>
</div>

<div class="col-md-12">
  <p>
    There should be contacts of development team, but now the only member is me.
    So.
    My name is Alexander Nefedov and everything you see I made myself.
  </p>
  <p>
    If you have any questions or suggestions concerning this game, or you just want
    to appreciate my effort (I like this, this encourages me to continue development
    of my game), please, contact me via one of the following emails:
    <ul class="dd-contacts">
      <li>
        <span class="label label-primary">nefedov.alexander91@yandex.ru</span>
      </li>
      <li>
        <span class="label label-default">scorpio.unstd@gmail.com</span>
      </li>
    </ul>
    Also, if you mention <em>"Deadly Duck"</em> or <em>"Tennis Manager"</em> in the
    letter subject, then, probably, I will answer much faster.
  </p>
</div>
{% endblock %}
