
{% extends "base.html" %}


{% block subtitle %}
  Edit Education  
{% endblock %}

{% block page_content %}
  
<form id="dd-edit-education-form" class="form-horizontal">
  <div class="form-group">
    <label for="dd_university_input" class="col-sm-2 control-label">University</label>
    <div class="col-sm-10">  
      <select class="form-control" name="dd_university_input">
        {% for university in universities %}
          <option value="{{ university.pk }}" onclick="return dd_get_university_faculties(this.value)">
            {{ university.name_c }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group" id="dd-faculties"></div>
  {% block submit_button %}
    <button onclick="return send_ajax_request()" class="btn btn-default">Submit</button>
  {% endblock %}
</form>
<div id="dd-result"></div>

{% endblock %}


{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='magic.js') }}"></script>
{% endblock %}
