
{% extends "base.html" %}

{% block subtitle %}Friends{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Friends</h1>
</div>

<div class="container">
  <div class="col-md-9">
    <div class="dd-tab-content" id="dd-friends">
      <table class="dd-table">
      {% for friend in friends %}
        <tr>
          <td>
            <a href="{{ url_for('main.User', username=friend.username) }}">  
              {{ friend.username }}
            </a>
          </td>
          <td>
            <a href="{{ url_for('main.RemoveFromFriends', pk=friend.pk) }}">
              Remove from friends
            </a>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <div class="dd-tab-content" id="dd-incoming-requests">
      <table class="dd-table">
        {% for request in incoming_requests %}
        <tr>
          <td>
            <a href="{{ url_for('main.User', username=request['username'])}}">
              {{ request["username"] }}
            </a>
          </td>
          <td>
            {{ request["message_txt"] }}
          </td>
          <td>
            <a href="{{ url_for('main.AcceptFriendRequest', pk=request['pk'])}}">Accept</a>
          </td>
          <td>
            <a href="{{ url_for('main.RejectFriendRequest', pk=request['pk']) }}">Reject</a>
          </td>
        </tr>
        {% else %}
          You have no incoming friend requests.
        {% endfor %}
      </table>
    </div>
    <div class="dd-tab-content" id="dd-outcoming-requests">
      <table class="dd-table">
        {% for request in outcoming_requests %}
        <tr>
          <td>
            <a href="{{ url_for('main.User', username=request['username'])}}">
              {{ request["username"] }}
            </a>
          </td>
          <td>
            {{ request["message_txt"] }}
          </td>
          <td>
            <a href="{{ url_for('main.CancelFriendRequest', pk=request['pk']) }}">Cancel</a>
          </td>
        </tr>
        {% else %}
          You have no outcoming friend requests.
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" id="dd-friends-nav">
      <li role="presentation" class="active">
        <a onclick="dd_select_tab(event, 'dd-friends')" id="dd-friends-default">Friends</a>
      </li>
      <li role="presentation">
        <a onclick="dd_select_tab(event, 'dd-incoming-requests')">
          Incoming Requests
          <strong>{{ GetNumberOfIncomingFriendRequests(current_user.pk) }}</strong>
        </a>
      </li>
      <li role="presentation">
        <a onclick="dd_select_tab(event, 'dd-outcoming-requests')">
          Outcoming Requests
          <strong>{{ GetNumberOfOutcomingFriendRequests(current_user.pk) }}</strong>
        </a>
      </li>
    </ul>
  </div>
</div>  
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{url_for('static', filename='magic.js')}}"></script>
  <script type="text/javascript">
    document.getElementById("dd-friends-default").click();
  </script>
{% endblock %}
