
{% extends "base.html" %}

{% block subtitle %}
  {{ message.subject_c }}
{% endblock %}

{% block page_content %}
<table class="table">
<tr>
<td>From</td>
<td>
{% if current_user.pk == message.from_user.pk %}
You
{% else %}
<a href="{{ url_for('main.User', username=message.from_user.username) }}">
{{ message.from_user.username }}  
</a>
{% endif %}
</td>
</tr>
<tr>
<td>To</td>
<td>
{% if current_user.pk == message.to_user.pk %}
You
{% else %}
{{ message.to_user.username }}
{% endif %}
</td>
</tr>
<tr>
<td>Subject</td>
<td>{{ message.subject_c }}</td>
</tr>
<tr>
<td>Message</td>
<td>
{{ message.text_txt }}
</td>
</tr>
</table>
<hr>
{% if current_user.pk == message.to_pk %}
  <a href="{{ url_for('main.WriteMessageToUser', username=message.from_user.username) }}" class="btn btn-primary">
    Write a Message
  </a>
{% endif %}
{% endblock %}
