
<table class="table">
  <tr {% if message.is_read == False %}class="info"{% endif %}>
    <td>From</td>
    <td>
      {% if current_user.pk == message.from_user.pk %}
        You
      {% else %}
        <a href="{{ url_for('main.User', username=message.from_user.username) }}">
          {{ message.from_user.username }}  
        </a>
      {% endif %}
    </td>
  </tr>
  <tr {% if message.is_read == False %}class="info"{% endif %}>
    <td>To</td>
    <td>
      {% if current_user.pk == message.to_user.pk %}
        You
      {% else %}
        {{ message.to_user.username }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Subject</td>
    <td>{{ message.subject_c }}</td>
  </tr>
  <tr>
    <td>Message</td>
    <td>
      <a href="{{ url_for('main.ReadMessage', pk=message.pk) }}">
        {{ message.text_txt[0:10] }}...
      </a>
    </td>
  </tr>
</table>