
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}Home{% endblock %}

{% block page_content %}

<div class="page-header">
  <h1>
    Welcome,
    {% if current_user.is_authenticated %}
      {{ current_user.username }}!
    {% else %}
      Stranger!
    {% endif %}
  </h1>
</div>

<div class="col-md-8">

{% if current_user.is_authenticated %}
  <p>
    Welcome to the Deadly Duck, the browser-based tennis club manager.<br>
    Current version is <strong>{{ version }}</strong>
  </p>
  <p>
    Current state:<br>
    <strong>{{ number_of_users }}</strong> users. <br>
    Who manage <strong>{{ number_of_active_players }}</strong> active tennis players. <br>
    Who played <strong>{{ number_of_finished_matches }}</strong> matches. <br>
    And <strong>{{ number_of_finished_series }}</strong> playoff series.
  </p>
  <p>
    Enjoy your time here, you help us to make this game better.
  </p>
  <hr>
</div>
<div class="col-md-4">
  <a href="{{ url_for('game.TitleScreen')}}"
  class="btn btn-default btn-block btn-lg" role="button">
    Play
  </a>
</div>

{% else %}
  <p>
    Welcome to the Deadly Duck, the browser-based tennis club manager.
    Here you can take control over one of tennis clubs and lead it to the glorious victories.
    To do this, you should carefully choose players on the entry draft,
    keep an eye on who and when plays their matches, make sure that your players are not exausted
    and help them to develop their skills.
  </p>
  <p>
    Currently, the game is in the early stages of development, but it is fully playable.<br>
    Actual version is <strong>{{ version }}</strong>.<br>
    Due to limitations, total number of users is limited to <strong>{{ max_users }}</strong>,
    so if you want to join testing process, please contact the development team.
  </p>
  <p>
    If you already have an account, you need to
    <a href="{{ url_for('auth.Login') }}">login</a>.
  </p>
{% endif %}

{% endblock %}
