
{% extends "base.html" %}

{% block subtitle %}{{ user.username }}{% endblock %}

{% block page_content %}

<div class="page-header">
  <img src="{{ user.Gravatar(size=256) }}" class="img-rounded profile-thumbnail">
  <div class="profile-header">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
      <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
          From <a href="http://maps.google.com/?q={{ user.location }}">
          {{ user.location }}</a>
        {% endif %}
      </p>
    {% endif %}
    {% if is_friendship_possible %}
      <p>
        <a href="{{ url_for('main.AddToFriends', username=user.username) }}" class="btn btn-success">
          Add to friends
        </a>
      </p>
    {% endif %}
    {% if is_messaging_possible %}
      <p>
        <a href="{{ url_for('main.WriteMessageToUser', username=user.username) }}" class="btn btn-primary">
          Write a message
        </a>
      </p>      
    {% endif %}
  </div>
  <div class="container">
    <div class="col-md-6">
    {% if current_user.is_administer() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>
        Member since {{ moment(user.member_since).format("L") }}.
        Last seen {{ moment(user.last_seen).fromNow() }}
    </p>
    <p>{{ user.posts.count() }} blog posts.</p>
    <p>
        {% if user == current_user %}
        <a href="{{ url_for('.EditProfile') }}" class="btn btn-default">Edit Profile</a>
        {% endif %}
        {% if current_user.is_administer() %}
        <a href="{{ url_for('.EditProfileAdmin', pk=user.pk) }}" class="btn btn-danger">Edit Profile [Admin]</a>
        {% endif %}
    </p>
    </div>
    <div class="col-md-6">
      {% if best_user_record %}
        <h4>Best Record</h4>
        <table class="table">
          <tr>
            <th>Season</th>
            <th>Position</th>
            <th>Points</th>
            <th>Last Series</th>
          </tr>
          <tr>
            <td>{{ best_user_record.season_n }}</td>
            <td>{{ best_user_record.regular_season_position_n }}</td>
            <td>{{ best_user_record.regular_season_points_n }}</td>
            <td>
              {% if best_user_record.last_playoff_series %}
                <a href="{{ url_for('game.PlayoffSeriesDetails', username=user.username, series_pk= best_user_record.last_playoff_series_pk)}}">
                  Last playoff series
                </a>
              {% else %}
                No playoffs
              {% endif %}
            </td>
          </tr>
        </table>
      {% else %}
        This user has no records yet.
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  
<div class="col-md-6">
<h3>Posts by {{ user.username }}</h3>
{% include '_posts.html' %}  
</div>
<div class="col-md-6">
  {% if user.faculties.count() > 0 %}
    <h3>Studied at</h3>
      {% for faculty in user.faculties.all() %}
        {{ faculty.name_c }} faculty in {{ faculty.university.name_c }}
        {% if user == current_user %}
          (<a href="{{ url_for('main.RemoveEducation', faculty_pk=faculty.pk) }}">Remove</a>)
        {% endif %}
        <br>
      {% endfor %}
  {% endif %}
  {% if user == current_user %}
    <a href="{{ url_for('main.AddEducation') }}">Add New Education</a>
  {% endif %}
</div>
</div>
<hr>
<h3>Classmates</h3>
{% for classmate in classmates %}
  <a href="{{ url_for('main.User', username=classmate.username) }}">{{ classmate.username}} </a></br>
{% else %}
  This user has no classmates yet.
{% endfor %}
{% endblock %}
